<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:oscache="http://www.springmodules.org/schema/oscache" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
	http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd">
	<context:annotation-config />
	<import resource="applicationContext-cxf-server.xml" />
	<context:component-scan base-package="com.ctvit.db" />
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean id="webClient" class="org.apache.cxf.jaxrs.client.WebClient"
		factory-method="create">
		<constructor-arg type="java.lang.String"
			value="http://localhost:8080/DbUtils/RESTWebService/" />
	</bean>

	<bean id="rESTSample" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory"
		factory-method="create">
		<constructor-arg type="java.lang.String"
			value="http://localhost:8080/DbUtils/RESTWebService/" />
		<constructor-arg type="java.lang.Class"
			value="com.ctvit.db.services.RestServiceForDb" />
	</bean>

</beans>