<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctvit.mybatis_ts.dao.channelMapper" >
  <resultMap id="BaseResultMap" type="ctvit.mybatis_ts.model.channel" >
    <id column="channelid" property="channelid" jdbcType="VARCHAR" />
    <result column="organizationid" property="organizationid" jdbcType="VARCHAR" />
    <result column="channelname" property="channelname" jdbcType="VARCHAR" />
    <result column="channeldesc" property="channeldesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    channelid, organizationid, channelname, channeldesc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ctvit.mybatis_ts.model.channelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from record_channel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from record_channel
    where channelid = #{channelid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from record_channel
    where channelid = #{channelid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="ctvit.mybatis_ts.model.channelExample" >
    delete from record_channel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ctvit.mybatis_ts.model.channel" >
    insert into record_channel (channelid, organizationid, channelname, 
      channeldesc)
    values (#{channelid,jdbcType=VARCHAR}, #{organizationid,jdbcType=VARCHAR}, #{channelname,jdbcType=VARCHAR}, 
      #{channeldesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ctvit.mybatis_ts.model.channel" >
    insert into record_channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="channelid != null" >
        channelid,
      </if>
      <if test="organizationid != null" >
        organizationid,
      </if>
      <if test="channelname != null" >
        channelname,
      </if>
      <if test="channeldesc != null" >
        channeldesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="channelid != null" >
        #{channelid,jdbcType=VARCHAR},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="channelname != null" >
        #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="channeldesc != null" >
        #{channeldesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ctvit.mybatis_ts.model.channelExample" resultType="java.lang.Integer" >
    select count(*) from record_channel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update record_channel
    <set >
      <if test="record.channelid != null" >
        channelid = #{record.channelid,jdbcType=VARCHAR},
      </if>
      <if test="record.organizationid != null" >
        organizationid = #{record.organizationid,jdbcType=VARCHAR},
      </if>
      <if test="record.channelname != null" >
        channelname = #{record.channelname,jdbcType=VARCHAR},
      </if>
      <if test="record.channeldesc != null" >
        channeldesc = #{record.channeldesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update record_channel
    set channelid = #{record.channelid,jdbcType=VARCHAR},
      organizationid = #{record.organizationid,jdbcType=VARCHAR},
      channelname = #{record.channelname,jdbcType=VARCHAR},
      channeldesc = #{record.channeldesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ctvit.mybatis_ts.model.channel" >
    update record_channel
    <set >
      <if test="organizationid != null" >
        organizationid = #{organizationid,jdbcType=VARCHAR},
      </if>
      <if test="channelname != null" >
        channelname = #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="channeldesc != null" >
        channeldesc = #{channeldesc,jdbcType=VARCHAR},
      </if>
    </set>
    where channelid = #{channelid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ctvit.mybatis_ts.model.channel" >
    update record_channel
    set organizationid = #{organizationid,jdbcType=VARCHAR},
      channelname = #{channelname,jdbcType=VARCHAR},
      channeldesc = #{channeldesc,jdbcType=VARCHAR}
    where channelid = #{channelid,jdbcType=VARCHAR}
  </update>
</mapper>